version: "3.9"

services:
  unified-service:
    image: khandum/unified-service:latest
    ports:
      - "80:3010"
    environment:
      - PORT=3010
      - CORS_ORIGIN=https://toolsworx.com,https://www.toolsworx.com
      - API_KEYS=
      - CONVERSION_LIMIT_NOAUTH=3
      - MAX_FILE_SIZE=524288000
      - MAX_MEDIA_SIZE=838860800
      - MAX_AUDIO_SIZE=209715200
      - LIBRE_OFFICE_PATH=/usr/bin/libreoffice
      - FFMPEG_PATH=/usr/bin/ffmpeg
    restart: unless-stopped
